/*------------------ FONT IMPORTS AND RESET ------------------*/
@import url("https://fonts.googleapis.com/css2?family=Corinthia:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Corinthia:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Linden+Hill&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Metal&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.index-main .main-panel .welcome-text .text1, .register-main .main-panel .welcome-text .text1, .user-main .message-section .section-title .title {
  text-align: center;
  font-size: 1.3rem;
  color: black; }

.index-main .main-panel .welcome-text, .sequence-main .sequence-panel, .sequence-main .sequence-panel .sequence-text, .sequence-main .sequence-panel .cards .card, .register-main .main-panel .welcome-text, .register-main .main-panel .register-success, .user-main .user-section .section-title, .user-main .user-section .section-title .title, .user-main .user-section .user-panel, .user-main .user-section .user-panel .user-info, .user-main .message-section .section-title, .user-main .message-section .message-panel, .user-main .message-section .message-panel .message-info {
  align-items: center;
  align-content: center; }

header nav .nav .nav-item .nav-link:hover {
  color: gold;
  transition: all .3s; }

@keyframes change-color {
  from {
    background-color: red; }
  to {
    background-color: yellow; } }

@keyframes rotate {
  from {
    transform: rotateY(0deg); }
  to {
    transform: rotateY(360deg); } }

header {
  /* background-color: nth($colors, 1); */
  background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20210828/pngtree-digital-code-encryption-dark-blue-technology-background-image_770047.jpg"); }
  header h1 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 70px;
    color: whitesmoke; }
  header nav .nav .nav-item .nav-link {
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: whitesmoke; }

.index-main {
  background-color: whitesmoke; }
  .index-main .main-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px; }
    .index-main .main-panel .welcome-text {
      margin: 15px; }
      .index-main .main-panel .welcome-text .text1 {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }
      .index-main .main-panel .welcome-text .text2 {
        text-align: center;
        font-size: 1.1rem;
        margin-top: 12px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }
  .index-main .news-panel .carousel {
    margin-bottom: 30px; }
    .index-main .news-panel .carousel .carousel-inner .carousel-item .card {
      height: 125px;
      /* background: rgb(22,45,4);
                        background: linear-gradient(90deg, rgba(22,45,4,1) 31%, rgba(104,8,125,1) 92%, rgba(46,32,79,1) 97%); */
      background: #2e204f;
      background: linear-gradient(90deg, #2e204f 5%, #68087d 30%, #2e204f 65%); }
      .index-main .news-panel .carousel .carousel-inner .carousel-item .card .card-body .card-title {
        text-align: center;
        font-size: 1rem;
        color: azure; }
      .index-main .news-panel .carousel .carousel-inner .carousel-item .card .card-body .card-text {
        font-size: 0.7rem;
        color: blanchedalmond;
        text-align: center;
        /* text-align: justify; */ }

.encode-main {
  background-color: whitesmoke; }
  .encode-main .encode-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px; }
    .encode-main .encode-panel .encode-text p {
      text-align: center;
      font-size: 1rem;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }
    .encode-main .encode-panel .encoding-panel {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      .encode-main .encode-panel .encoding-panel .input-group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 15px; }
        .encode-main .encode-panel .encoding-panel .input-group .textarea {
          width: 300px;
          height: 250px;
          font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }
      .encode-main .encode-panel .encoding-panel .medium-panel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .encode-main .encode-panel .encoding-panel .medium-panel .dropdown {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 20px; }
          .encode-main .encode-panel .encoding-panel .medium-panel .dropdown .method-label {
            margin-right: 10px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }
          .encode-main .encode-panel .encoding-panel .medium-panel .dropdown .method-select {
            border-radius: 3px; }
        .encode-main .encode-panel .encoding-panel .medium-panel .code-button {
          margin: 20px;
          font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
          background-color: blueviolet;
          border: none;
          box-shadow: 0 5px 5px grey; }
        .encode-main .encode-panel .encoding-panel .medium-panel .padlock {
          height: 75px;
          width: 60px; }
        .encode-main .encode-panel .encoding-panel .medium-panel .rotation {
          animation-name: rotate;
          animation-duration: 1.5s; }

.sequence-main .sequence-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .sequence-main .sequence-panel .sequence-text {
    text-align: center;
    font-size: 1rem;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }
  .sequence-main .sequence-panel .cards .card {
    width: 120vh;
    padding: 10px;
    margin-top: 10px;
    padding: 10px; }
    .sequence-main .sequence-panel .cards .card .input-group {
      padding: 10px; }
    .sequence-main .sequence-panel .cards .card .dropdowns {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      .sequence-main .sequence-panel .cards .card .dropdowns .dropdown {
        padding: 10px; }
        .sequence-main .sequence-panel .cards .card .dropdowns .dropdown .operation-label {
          font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }
        .sequence-main .sequence-panel .cards .card .dropdowns .dropdown .method-label {
          font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }
  .sequence-main .sequence-panel .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .sequence-main .sequence-panel .buttons .sequence-button-add {
      margin: 15px;
      background-color: blueviolet;
      border: none;
      box-shadow: 0 5px 5px grey; }
    .sequence-main .sequence-panel .buttons .sequence-button-execute {
      margin: 15px;
      background-color: #4444ae;
      border: none;
      box-shadow: 0 5px 5px grey; }

.register-main {
  background-color: whitesmoke; }
  .register-main .main-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px; }
    .register-main .main-panel .welcome-text {
      margin: 15px; }
      .register-main .main-panel .welcome-text .text1 {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }
      .register-main .main-panel .welcome-text .text2 {
        text-align: center;
        font-size: 1.1rem;
        margin-top: 12px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }
    .register-main .main-panel .user-info {
      width: 400px;
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 20px; }
    .register-main .main-panel .register {
      margin: 20px;
      background-color: blueviolet;
      border: none;
      box-shadow: 0 5px 5px grey; }
    .register-main .main-panel .register-success h4 {
      font-size: 0.9rem;
      text-align: center;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }
  .register-main .news-panel .carousel .carousel-inner .carousel-item .card {
    height: 100px;
    /* background: rgb(22,45,4);
                        background: linear-gradient(90deg, rgba(22,45,4,1) 31%, rgba(104,8,125,1) 92%, rgba(46,32,79,1) 97%); */
    background: #2e204f;
    background: linear-gradient(90deg, #2e204f 5%, #68087d 30%, #2e204f 65%); }
    .register-main .news-panel .carousel .carousel-inner .carousel-item .card .card-body .card-title {
      text-align: center;
      font-size: 1rem;
      color: azure; }
    .register-main .news-panel .carousel .carousel-inner .carousel-item .card .card-body .card-text {
      font-size: 0.7rem;
      color: blanchedalmond;
      text-align: center;
      /* text-align: justify; */ }

.user-main {
  background-color: whitesmoke; }
  .user-main .user-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px; }
    .user-main .user-section .section-title {
      margin: 10px; }
      .user-main .user-section .section-title .title {
        text-align: center;
        font-size: 1.2rem;
        margin-bottom: 15px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }
    .user-main .user-section .user-panel {
      padding: 15px;
      box-shadow: 0 5px 5px grey; }
      .user-main .user-section .user-panel .user-info {
        margin: 10px; }
        .user-main .user-section .user-panel .user-info .user-bio {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-size: 0.7rem; }
          .user-main .user-section .user-panel .user-info .user-bio .user-names {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center; }
            .user-main .user-section .user-panel .user-info .user-bio .user-names h4 {
              font-size: 1rem;
              margin-left: 15px;
              margin-right: 15px;
              font-weight: 500;
              font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
              color: black; }
          .user-main .user-section .user-panel .user-info .user-bio .user-data {
            font-size: 1rem;
            margin-left: 15px;
            margin-right: 15px;
            font-weight: 500;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            color: black; }
        .user-main .user-section .user-panel .user-info .information {
          font-size: 1rem;
          margin-left: 15px;
          margin-right: 15px;
          font-weight: 500;
          font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
          color: black; }
  .user-main .message-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px; }
    .user-main .message-section .section-title {
      margin: 10px; }
      .user-main .message-section .section-title .title {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }
    .user-main .message-section .message-panel .message-info {
      margin: 10px; }
      .user-main .message-section .message-panel .message-info .all-messages {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: start;
        font-size: 0.7rem;
        color: black;
        width: 100%; }
        .user-main .message-section .message-panel .message-info .all-messages .encoded-messages {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: start;
          margin-right: 20px;
          width: 45vw;
          font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }
          .user-main .message-section .message-panel .message-info .all-messages .encoded-messages h4 {
            align-self: center;
            font-size: 0.9rem; }
          .user-main .message-section .message-panel .message-info .all-messages .encoded-messages .card {
            width: 100%;
            margin-bottom: 5px; }
            .user-main .message-section .message-panel .message-info .all-messages .encoded-messages .card .card-body p {
              width: 100%;
              overflow-wrap: break-word; }
        .user-main .message-section .message-panel .message-info .all-messages .decoded-messages {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: start;
          margin-left: 20px;
          width: 45vw;
          font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }
          .user-main .message-section .message-panel .message-info .all-messages .decoded-messages h4 {
            align-self: center;
            font-size: 0.9rem; }
          .user-main .message-section .message-panel .message-info .all-messages .decoded-messages .card {
            width: 100%;
            margin-bottom: 5px; }
            .user-main .message-section .message-panel .message-info .all-messages .decoded-messages .card .card-body p {
              width: 100%;
              overflow-wrap: break-word; }
      .user-main .message-section .message-panel .message-info .information {
        font-size: 1rem;
        margin-left: 15px;
        margin-right: 15px;
        font-weight: 500;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: black; }

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  text-align: center;
  width: 100%;
  padding-bottom: 1px;
  font-size: 0.8rem; }
  footer .text {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    footer .text .footer-text {
      color: white;
      font-family: 'Cormorant Unicase', serif;
      font-size: 0.8rem;
      font-size: 0.7rem;
      padding-top: 5px; }
  footer .logos {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    footer .logos img {
      width: 25px;
      height: 25px;
      margin: 5px; }
