.encode-main {
    background-color: nth($colors, 1);
    .encode-panel {
        @include flex(flex, column, center, center);
        padding-top: 20px;
        padding-bottom: 20px;
        .encode-text p {
            text-align: center;
            font-size: 1rem;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        .encoding-panel {
            @include flex(flex, row, center, center);
            .input-group {
                @include flex(flex, column, center, center);
                margin-left: 30px;
                margin-right: 30px;
                margin-top: 15px;
                .textarea {
                    width: 300px;
                    height: 250px;
                    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                }
            }
            .medium-panel {
                @include flex(flex, column, center, center);
                .dropdown {
                    @include flex(flex, column, center, center);
                    padding: 20px;
                    .method-label {
                        margin-right: 10px;
                        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                    }
                    .method-select {
                        border-radius: 3px;
                    }
                }
                
                .code-button {
                    margin: 20px;
                    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                    background-color: blueviolet;
                    border: none;
                    box-shadow: 0 5px 5px grey;
                }
                .padlock {
                    height: 75px;
                    width: 60px;
                }
                .animation {
                    animation-name: rotate;
                    animation-duration: 3s;
                }
            }
        }
    
    }
}
