.index-main {
    background-color: nth($colors, 1);
    .main-panel {
        @include flex(flex, column, center, center);
        padding-top: 20px;
        padding-bottom: 20px;
        .welcome-text {
            margin: 20px;
            align-items: center;
            align-content: center;
        }
        .user-info {
            width: 400px;
            margin: 20px;
        }
        .register {
            margin: 20px;
        }
    }
}

