.register-main {
    background-color: nth($colors, 5);
    .main-panel {
        @include flex(flex, column, center, center);
        padding-top: 40px;
        padding-bottom: 40px;
        .welcome-text {
            margin: 60px;
            @extend %centered;
        }
        .text {
            text-align: center;
            font-size: 2rem;
            font-family: 'Anonymous Pro', monospace;
            margin-top: 20px;
        }
        .user-info {
            width: 80vh;
            margin: 50px;
            .input-group-prepend {
                .input-group-text {
                    font-family: 'Anonymous Pro', monospace;
                    font-size: 1.5rem;
                    height: 7vh;
                }
            }
            .form-control {
                font-family: 'Anonymous Pro', monospace;
                font-size: 1.5rem;
                height: 7vh;
            }
        }
        .register {
            width: 150px;
            height: 50px;
            font-size: 1.5rem;
            margin: 40px;
            background-color: blueviolet;
            border: none;
            box-shadow: 0 10px 10px grey;
        }
        .register-success {
            @extend %centered;
            h4 {
                font-size: 1.9rem;
                text-align: center;
                font-family: 'Anonymous Pro', monospace;
            }
        }
    }
}


