.register-main {
    background-color: nth($colors, 5);
    .main-panel {
        @include flex(flex, column, center, center);
        padding-top: 20px;
        padding-bottom: 20px;
        .welcome-text {
            margin: 15px;
            @extend %centered;
            .text1 {
                @extend %title;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            }
            .text2 {
                text-align: center;
                font-size: 1.1rem;
                margin-top: 12px;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            }
        }
        .user-info {
            width: 400px;
            margin-left: 20px;
            margin-right: 20px;
            margin-bottom: 20px;
        }
        .register {
            margin: 20px;
            background-color: blueviolet;
            border: none;
            box-shadow: 0 5px 5px grey;
        }
        .register-success {
            @extend %centered;
            h4 {
                font-size: 0.9rem;
                text-align: center;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            }
        }
    }
    .news-panel {
        .carousel {
            .carousel-inner {
                .carousel-item {
                    .card {
                        height: 100px;
                        /* background: rgb(22,45,4);
                        background: linear-gradient(90deg, rgba(22,45,4,1) 31%, rgba(104,8,125,1) 92%, rgba(46,32,79,1) 97%); */
                        background: rgb(46,32,79);
                        background: linear-gradient(90deg, rgba(46,32,79,1) 5%, rgba(104,8,125,1) 30%, rgba(46,32,79,1) 65%);
                        .card-body {
                            .card-title {
                                text-align: center;
                                font-size: 1rem;
                                color: azure;
                            }
                            .card-text {
                                font-size: 0.7rem;
                                color: blanchedalmond;
                                text-align: center;
                                /* text-align: justify; */
                            }
                        }
                    }
                }
            }
        }
        
    }
}


