.sequence-main {
    background-color: nth($colors, 5);
    .sequence-panel {
        @include flex(flex, column, center, center);
        @extend %centered;
        .sequence-text {
            @extend %title;
            font-size: 2rem;
            font-family: 'Anonymous Pro', monospace;
            margin-top: 25px;
            margin-bottom: 25px;
        }
        .cards {
            .card {
                width: 120vh;
                padding: 20px;
                margin-top: 20px;
                padding: 20px;
                @extend %centered;
                .input-group {
                    padding: 20px;
                    .textarea {
                        font-size: 1.5rem;
                        width: 70vh;
                        height: 20vh;
                    }
                    .input-group-prepend {
                        .input-group-text {
                            font-family: 'Anonymous Pro', monospace;
                            font-size: 1.5rem;
                        }
                    }
                }
                .dropdowns {
                    @include flex(flex, row, center, center);
                    .dropdown {
                        padding: 20px;
                        .label {
                            font-size: 1.5rem;
                            font-family: 'Anonymous Pro', monospace;
                        }
                        .select {
                            font-size: 1.5rem;
                            font-family: 'Anonymous Pro', monospace;
                        }
                    }
                }
            }
        }
        .buttons {
            @include flex(flex, row, center, center);
            .sequence-button-add {
                font-family: 'Anonymous Pro', monospace;
                width: 250px;
                height: 50px;
                font-size: 1.7rem;
                margin: 30px;
                margin-bottom: 70px;
                background-color: blueviolet;
                border: none;
                box-shadow: 0 10px 10px grey;
            }
            .sequence-button-execute {
                font-family: 'Anonymous Pro', monospace;
                width: 150px;
                height: 50px;
                font-size: 1.7rem;
                margin: 30px;
                margin-bottom: 70px;
                background-color: rgb(68, 68, 174);
                border: none;
                box-shadow: 0 10px 10px grey;
            }
        }
    }
}