.user-main {
    background-color: nth($colors, 1);
    .user-section {
        @include flex(flex, column, center, center);
        padding-top: 20px;
        padding-bottom: 20px;
        .section-title {
            margin: 20px;
            align-items: center;
            align-content: center;
            .title {
                text-align: center;
                font-size: 1.7rem;
                color: nth($colors, 2);
            }
        }
        .user-panel {
            align-items: center;
            align-content: center;
            align-self: center;
            border-style: ridge;
            padding-left: 5px;
            padding-right: 5px;
            .user-info {
                margin: 20px;
                align-items: center;
                align-content: center;
                .user-bio {
                    @include flex(flex, column, center, center);
                    font-size: 0.7rem;
                    color: nth($colors, 2);
                    .user-names {
                        @include flex(flex, row, center, center);
                        h4 {
                            margin-left: 30px;
                            margin-right: 30px;
                        }
                    
                    }
                    .date {
                        margin-top: 30px;
                    }
                }
                .information {
                    margin: 20px;
                    align-items: center;
                    align-content: center;
                }
            }
        }
    }
    .message-section {
        @include flex(flex, column, center, center);
        padding-top: 20px;
        padding-bottom: 20px;
        .section-title {
            margin: 20px;
            align-items: center;
            align-content: center;
            .title {
                text-align: center;
                font-size: 1.7rem;
                color: nth($colors, 2);
            }
        }
        .message-panel {
            align-items: center;
            align-content: center;
            align-self: center;
            .message-info {
                margin: 20px;
                align-items: center;
                align-content: center;
                .all-messages {
                    @include flex(flex, row, center, start);
                    font-size: 0.7rem;
                    color: nth($colors, 2);
                    width: 100%;
                    .encoded-messages {
                        @include flex(flex, column, center, start);
                        margin-right: 20px;
                        width: 45vw;
                        h4 {
                            align-self: center;
                        }
                        .message {
                            width: 100%;
                            border-style: ridge;
                            padding-left: 5px;
                            padding-right: 5px;
                            p {
                                width: 100%;
                                overflow-wrap: break-word;
                            }
                        }
                    }
                    .decoded-messages {
                        @include flex(flex, column, center, start);
                        margin-left: 20px;
                        width: 45vw;
                        h4 {
                            align-self: center;
                        }
                        .message {
                            width: 100%;
                            border-style: ridge;
                            padding-left: 5px;
                            padding-right: 5px;
                            p {
                                width: 100%;
                                overflow-wrap: break-word;
                            }
                        }
                    }
                }
                .information {
                    margin: 20px;
                    align-items: center;
                    align-content: center;
                }
            }
        }
    }
}