/*------------------ FONT IMPORTS AND RESET ------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Corinthia:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Linden+Hill&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metal&display=swap');