$colors:
whitesmoke,
black,
gold,
green,
rgb(160, 157, 208);

// MIXIN //

@mixin flex ($display, $direction, $justify, $align) {
    display: $display;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

// EXTEND //

%title {
    text-align: center;
    font-size: 2.3rem;
    color: nth($colors, 2);
}

%border {
    border-style: ridge;
    padding-left: 10px;
    padding-right: 10px;
}

%centered {
    align-items: center;
    align-content: center;
}

%hover {
    &:hover {
        color: nth($colors, 3);
        transition: all .3s;
    }
}

// ANIMATIONS //

@keyframes blink {
    0% {opacity: 0}
    10% {opacity: 1}
    20% {opacity: 0}
    30% {opacity: 1}
    40% {opacity: 0}
    50% {opacity: 1}
	60%{opacity: 0}
	70% {opacity: 1}
    80% {opacity: 0}
    90% {opacity: 1}
    100% {opacity: 0}
}

@keyframes rotateY {
    from {transform:rotateY(0deg);}
    to {transform:rotateY(360deg);}
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}